@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  outline: none;
}

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
  }

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo {
  font-size: 30px;
  color: rgb(255, 255, 255);
    font-family: 'Great Vibes', cursive;
}
html:not([data-scroll="0"]) .navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  opacity: 1.9;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  transition: 0.4s linear;
  padding-top: 1px;
  padding-bottom: 1px;
  z-index: 3;
  .text-menu{
    color: black;
  }
  .logo{
    color: black;
  }
  .toggle_button{
    color: black;
  }
}
/* CSS cho navbar trong chế độ tối */
.dark-mode-navbar .navbar  {
    background-color: rgb(91, 91, 91) !important; /* Màu nền đen */
}

.dark-mode-navbar .text-menu a {
    color: #fff; /* Màu chữ trắng cho các liên kết */
}

.dark-mode-navbar .logo {
    color: #fff !important; /* Màu chữ trắng cho logo */
}

.dark-mode-navbar .toggle_button {
    color: #fff; /* Màu chữ trắng cho nút chuyển đổi chế độ */
}
.container{
  max-width: 100%;
}
.dark {
  color: white;
  background-color: rgb(89, 89, 89);
}
.light {
  color: rgb(43, 43, 43);
  background-color: white;
}

.banner{
  height: 766px; max-height: 766px;
}
.back-video {
  position: absolute;
  display: block;
  overflow: hidden;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: inherit;
  object-fit: cover; /* Giữ nguyên tỷ lệ khung hình */
}
.introduce{
  position: relative;
}
.image-banner-introduction{
    position: absolute;
    display: block;
    overflow: hidden;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    object-fit: cover; /* Giữ nguyên tỷ lệ khung hình */
}
.banner-introduction{
  height: 400px; max-height: 400px;

}
@media (min-aspect-ratio: 16/9){
  .back-video{
    height: 100%;
  }
}
.bg-newsletter {
  background-image: url('/assets/newsletter/hands.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}


.boxshadow {
  box-shadow: 0px 64px 64px -48px #F5EEE8;
}

.position-green {
  top: 62%;
  right: 0%;
  left: 54%;
  bottom: 60%;
}

.bannerBorder {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 640px) {
  .bannerBorder {
    border-left: none !important;
  }
}

.nowhitespace {
  white-space: nowrap;
}

.mentorShadow {
  box-shadow: 0px 4px 20px rgba(110, 127, 185, 0.1);
}

.footer-icons{
  transition: .5s;
}
.logo-footer{
  font-size: 30px;
  color: rgb(0, 0, 0);
    font-family: 'Great Vibes', cursive;
}
.footer-icons:hover{
  transform: translateY(-8px);
}

.space-links {
  transition: .3s;
}
.space-links:hover {
  letter-spacing: 1px;
}
ons:hover{
  transform: translateY(-8px);
}

.space-links {
  transition: .3s;
}
.space-links:hover {
  letter-spacing: 1px;
}
